* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
/* 공통 */
.inner {
  max-width: 1600px;
  margin: 0 auto;
  /* background-color: #eef3e2; */
}
/* 전체 */
.wrap {
  /* width: 1920px; */
  margin: 50px auto;
}
/* 헤더 */
.header > .inner {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* 로고 */
.logo {
  padding: 20px 0;
  font-size: 32px;
  font-weight: 800;
  /* background-color: beige; */
}
/* 검색창 */
.search {
  width: 600px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #9bce26;
  border-radius: 30px;
}
#search {
  width: 520px;
  padding: 10px;
  border: none;
}
.search a i {
  width: 50px;
  color: #9bce26;
}
/* 유저 */
.user {
  /* width: 100%; */
  display: flex;
  gap: 60px;
  font-weight: bold;
  /* background-color: rgb(192, 183, 170); */
}
/* 네비게이션 */
.nav-wrap {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #ccc;
}
.nav {
  width: 100%;
  /* background-color: antiquewhite; */
}
.nav ul {
  position: relative;
  /* padding: 20px 0; */
  display: flex;
  justify-content: space-between;
}
.nav ul li,
.nav ul li a {
  padding: 20px 0;
  font-size: 20px;
}
.nav-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 150px;
  width: 1px;
  height: 71px;
  background-color: #ccc;
}
/* 메인 */
/* 이미지 박스 */
.img-box {
  position: relative;
}
.img-container {
  position: absolute;
  top: 20%;
}
.img-box img {
  width: 100%;
  /* object-fit: cover; */
  display: block;
}
/* 이미지 박스 안 텍스트 */
.img-text {
  /* position: absolute;
    top: 0;
    left: 0; */
  color: #fff;
  z-index: 1;
  /* left: 0; */
}
.img-text p {
  font: 18px;
  margin-bottom: 50px;
}
.img-text p::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.img-text h2 {
  font-size: 32px;
}
/* 오직 올리브영에서만 */
.only > p {
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}
.only ul {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.only li {
  width: 500px;
  height: 222px;
  border-radius: 16px;
  overflow: hidden;
  background-color: aquamarine;
}
.only li:hover {
  cursor: pointer;
}
.only li img {
  width: 100%;
  height: 100%;
  display: block;
}
.only li h3 {
  padding: 50px;
  position: absolute;
  top: 0;
  /* left: 0; */
  font-size: 28px;
}
.only li p {
  padding: 0 50px;
  position: absolute;
  top: 140px;
  font-size: 20px;
}
/* 이 상품 어때요? */
.product-wrap {
  position: relative;
  padding: 10px 0;
}
.product-wrap > p {
  margin-bottom: 20px;
  padding: 30px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.product-wrap > p::after {
  content: "";
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
/* 상품 카드 */
.product-wrap .inner {
  margin-bottom: 10px;
}
.product {
  /* margin-bottom: 20px; */
  padding: 50px 0;
  display: flex;
  gap: 40px;
}
.product li {
  width: calc(100% / 4);
  border-radius: 16px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #fff;
}
.product li:hover a img {
  transform: scale(1.1);
}
.product li a img {
  width: 100%;
  display: block;
  transition: all 0.2s;
}
.product li a p {
  padding: 10px 30px;
  text-align: center;
}
.product li a p:nth-of-type(1) {
  color: #aaa;
}
.product li a p:nth-of-type(2) {
  font-weight: bold;
  font-size: 18px;
}
.product li a p:nth-of-type(3) {
  font-weight: bold;
  font-size: 24px;
  color: #9bce26;
}
/* 푸터 */
.footer {
  /* padding: 50px 0; */
  border-top: 1px solid #ccc;
  background-color: #eee;
}
.footer .inner {
  position: relative;
}
.footer-top {
  padding: 50px 0;
  display: flex;
  /* gap: 60px; */
}
.footer-top li a {
  color: #aaa;
}
.footer-top li a:hover {
  text-decoration: underline;
}
.footer-top li a::after {
  content: "";
  display: inline-block;
  margin: 0 20px;
  width: 1px;
  height: 12px;
  background-color: #ccc;
}
.footer-top li:last-child a::after {
  width: 0;
}
/* 사업자/개인정보처리방침... */
.footer-middle .inner{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}
/* 푸터 로고 */
.footer-logo{
    width: 500px;
    /* padding: 20px 0; */
    margin-right: 120px;
  font-size: 16px;
  font-weight: 800;
}
.footer-info{
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.footer-info>ul{
    width: calc(100% / 4);
}
